@import "../main.css";
:root {
  --accordionList-width: 180px;
  --accordionList-margin: 0 0 5px 0;
  --accordionList_head-color: #00bd4c;
  --accordionList_head-fontColor: #ffffff;
  --accordionList_head-height: 36px;
  --accordionList_icon-margin: 10px;
  --accordionList_body-color: #f9f9f9;
}
