@import "./css/accordionList.css";
@import './common.css';
:root {
  --mainColor:#509de1; 
  /* --mainColor: #00B69D;*/
  --navFontSize: 16px;
  --mainFontSize: 14px;
  --subFontSize: 12px;
  --mainOrderFontSize: 15px;
  --childOrderFontSize: 14px;
  --maleColor: #3d9cd2;
  --femaleColor: #ff7368;
  --grayBorderColor: #ccc;

  --LongNewColor: #ac52ac;
  --LongUnnewColor: #C6FFC6;
  --TempColor: #ac52ac;
  --ImmediateColor: #51b80c;
  --SkinTestColor: #ee4f38;
  --DiscontinueColor: #107cc8;
  --ExecDisconColor: #b4a89a;
  --ExecColor: #b4a89a;

  --NeedToDeal: #FF8284;
  --NeedToStop: #FF8284;
  --AlreadyDeal: #b4a89a;
  --AlreadyStop: #b4a89a;

  --execCheckBoxBorderWidth: 2px;
  --checkBoxBorderRadius: 8px;
  --checkBoxExpansitonClickAreaSize: -15px;
  --orderItemInterval: 15px;
}

.cursorPoint {
  cursor: pointer;
}
